<% include partials/header %>
<h1>Landing page!</h1>
<p>Welcome to yelp camp!</p>

<a href="/campgrounds">Go to the campgrounds page</a>
<p>Here's a knock knock joke...</p>
<%= knockKnock%>

<% include partials/footer %>