<% include ../partials/header %>



<div class="container">
    <header class="jumbotron">
        <div class="conatiner">
            <h1>Welcome to Yelpcamp!</h1>
            <p>Checkout our hand-picked campgrounds.</p>
            <p>
                <a href="/campgrounds/new" class="btn btn-primary btn-lg">Add a new campground</a>
            </p>
        </div>
    </header>
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% campgrounds.forEach(function(campground){%>
            <div class="col col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%=campground.image%>">
                    <div class="caption">
                        <h4><%=campground.name%></h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= campground._id%>" class="btn btn-primary">More Info</a>
                    </p>
                </div>

            </div>
        <% }); %>
    </div>
</div>
<% include ../partials/footer %>