<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align:center;">Enter a new campground</h1>
        <div style="width:30%; margin:25px auto;">
            <form method="POST" action="/campgrounds">
                <div class="form-group">
                <input class="form-control" type="text" placeholder="name" name="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="image url" name="image">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="description" name="description">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block">Submit!</button>
                </div>
               
            </form>
            <a href="/campgrounds">Go back</a>
        </div>
    </div>
</div>
<% include ../partials/footer%>